.mainDiv {
  display: flex;
  flex-direction: column;
}
.mainTopRow {
  display: flex;
  justify-content: space-between;
  height: 900px;
}
.leftCol {
  width:15%;
  display: flex;
  flex-direction: column;
}
.whoseTurn {
  background-color: bisque;
  text-align: center;
  height: 20%;
}
.whoseTurn img{
  height: 50px;
  width: 50px;
}
.messages {
  height: 70%;
  text-align: center;
  background-color: rosybrown; 
}
.playerCount {
  display:flex;
  justify-content:center;
  align-items: center;
  background-color: chartreuse;
  height: 10%
}
.midCol {
  width:70%;
  display: flex;
  flex-direction: column;
  background-color: seashell;
  justify-content: center;
}
.gbInnerRows {
  display: flex;
  justify-content: center;
  height: 150px;
}
.gbOutterRows {
  display: flex;
  justify-content: center;
  height: 60px;
}
.gbGrid {
  width: 150px;
}
.gbHHalls {
  background-color: lightblue; 
  width: 150px;
  height: 50px;
  align-self: center;
}
.gbVHalls {
  background-color: lightblue; 
  width: 50px;
  height: 150px;
  margin-left: 50px;
}
.gbPlayer1Start {
  background-color: red;
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-left: 50px;
  text-align: center; 
}
.gbPlayer2Start {
  background-color: orange;
  width: 50px;
  height: 50px;
  margin-top: 50px;
  margin-left: 100px;
  text-align: center; 
}
.gbPlayer3Start {
  background-color: yellow;
  width: 50px;
  height: 50px;
  margin-top: 50px;
  margin-left: 0px;
  text-align: center;
}
.gbPlayer4Start {
  background-color: green;
  width: 50px;
  height: 50px;
  margin-top: 50px;
  margin-left: 100px;
  text-align: center;
}
.gbPlayer5Start {
  background-color: blue;
  width: 50px;
  height: 50px;
  margin-top: 0px;
  margin-left: 50px;
  text-align: center;
}
.gbPlayer6Start {
  background-color: indigo;
  width: 50px;
  height: 50px;
  margin-top: 0px;
  margin-left: 50px;
  text-align: center;
}
.gbRoom1 {
  background-color: lightseagreen;
  width: 150px;
}
.gbRoom2 {
  background-color: lightseagreen;
  width: 150px;
}
.gbRoom3 {
  background-color: lightseagreen;
  width: 150px;
}
.gbRoom4 {
  background-color: lightseagreen;
  width: 150px;
}
.gbRoom5 {
  background-color: lightseagreen;
  width: 150px;
}
.gbRoom6 {
  background-color: lightseagreen;
  width: 150px;
}
.gbRoom7 {
  background-color: lightseagreen;
  width: 150px;
}
.gbRoom8 {
  background-color: lightseagreen;
  width: 150px;
}
.gbRoom9 {
  background-color: lightseagreen;
  width: 150px;
}
.rightCol {
  width:15%;
  display: flex;
  flex-direction: column; 
}
.myCharacter {
  text-align: center;
  height: 20%;
  background-color: darkgrey;
}
.myWeapon {
  height: 20%;
  text-align: center;
  background-color: grey;
}
.myStatus {
  height: 10%;
  text-align: center;
  background-color: goldenrod;
}
.crossedOut {
  flex-grow:5;
  text-align:center;
}
.mainBotRow {
  height: 50px;
  align-items: center;
}
.choice1 {
  display:inline-block;
  text-align: center;
  background-color: #6350d1;
  border-right:  1px solid;
  border-color: white;
  height: 100%;
  width: 33%;
}
.choice2 {
  display: inline-block;
  text-align: center;
  background-color: #6350d1;
  border-right:  1px solid;
  border-color: white;
  height: 100%;
  width: 33%;
}
.choice3 {
  display: inline-block;
  text-align: center;
  background-color: #6350d1;
  height: 100%;
  width: 33%;
}
