.mainDiv {
  display: flex;
  flex-direction: column;
}
.mainTopRow {
  display: flex;
  justify-content: space-between;
  height: 900px;
}
.leftCol {
  width:15%;
  display: flex;
  flex-direction: column;
}
.whoseTurn {
  text-align: center;
  height: 20%;
  background-color: #ffffff;
  border-top: 3px solid #00b8b8;
  border-left: 3px solid #00b8b8;
  border-right: 3px solid #00b8b8;
}
.whoseTurn img{
  height: 100px;
  width: 100px;
}
.messages {
  height: 75%;
  border-top: 3px solid #00b8b8;
  border-left: 3px solid #00b8b8;
  border-right: 3px solid #00b8b8;
  background-color: aqua;
}
.messagesTitle {
  background-color: aquamarine;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 3px solid #00b8b8;
}
.messagesBox {
  background-color: aqua;
  height: 95%;
  overflow: auto;
}
.messagesIndividual {
  background-color: aquamarine;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}
.playerCount {
  display:flex;
  justify-content:center;
  align-items: center;
  background-color: white;
  height: 5%;
  border: 1px solid black;
}
.midCol {
  width:70%;
  display: flex;
  flex-direction: column;
  background-color: #dcfaff;
  justify-content: center;
}
.gbInnerRows {
  display: flex;
  justify-content: center;
  height: 150px;
}
.gbOutterRows {
  display: flex;
  justify-content: center;
  height: 60px;
}
.gbGrid {
  width: 150px;
}
.gbHHalls {
  background-color: lightblue; 
  width: 150px;
  height: 50px;
  align-self: center;
}
.gbVHalls {
  background-color: lightblue; 
  width: 50px;
  height: 150px;
  margin-left: 50px;
}
.gbPlayer1Start {
  background-color: #fd7575;
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-left: 50px;
  text-align: center; 
}
.gbPlayer2Start {
  background-color: orange;
  width: 50px;
  height: 50px;
  margin-top: 50px;
  margin-left: 100px;
  text-align: center; 
}
.gbPlayer3Start {
  background-color: rgb(253, 253, 176);
  width: 50px;
  height: 50px;
  margin-top: 50px;
  margin-left: 0px;
  text-align: center;
}
.gbPlayer4Start {
  background-color: green;
  width: 50px;
  height: 50px;
  margin-top: 50px;
  margin-left: 100px;
  text-align: center;
}
.gbPlayer5Start {
  background-color: #0099ff;
  width: 50px;
  height: 50px;
  margin-top: 0px;
  margin-left: 50px;
  text-align: center;
}
.gbPlayer6Start {
  background-color: rgb(176, 73, 250);
  width: 50px;
  height: 50px;
  margin-top: 0px;
  margin-left: 50px;
  text-align: center;
}
.gbRoom1 {
  background-color: lightseagreen;
  width: 150px;
}
.gbRoom2 {
  background-color: lightseagreen;
  width: 150px;
}
.gbRoom3 {
  background-color: lightseagreen;
  width: 150px;
}
.gbRoom4 {
  background-color: lightseagreen;
  width: 150px;
}
.gbRoom5 {
  background-color: lightseagreen;
  width: 150px;
}
.gbRoom6 {
  background-color: lightseagreen;
  width: 150px;
}
.gbRoom7 {
  background-color: lightseagreen;
  width: 150px;
}
.gbRoom8 {
  background-color: lightseagreen;
  width: 150px;
}
.gbRoom9 {
  background-color: lightseagreen;
  width: 150px;
}
.gbRoomTitle {
  background-color: white;
  width:fit-content;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding-right: 2px;
}
.rightCol {
  width:15%;
  display: flex;
  flex-direction: column; 
}
.myCharacter {
  text-align: center;
  height: 20%;
  background-color: #ffffff;
  border-top: 3px solid #00b8b8;
  border-left: 3px solid #00b8b8;
  border-right: 3px solid #00b8b8;
}
.myCharacter img{
  height: 100px;
  width: 100px;
}
.yourChoicesBox {
  height: 50px;
  display: flex;
}
.choice1 {
  background-color: aqua;
  border-right: 1px;
  border-color: #00b8b8;
  width: 33%;
  text-align: center;
}
.choice2 {
  background-color: aqua;
  border-right: 1px;
  border-color: #00b8b8;
  width: 34%;
  text-align: center;
}
.choice3 {
  background-color: aqua;
  width: 33%;
  text-align: center;
  border-color: #00b8b8;
}
.flex-col {
  display: flex;
  flex-direction:column;
}
.flex-row {
  display: flex;
}
.flex-center {
  justify-content: center;
}
.ml-10 {
  margin-left: 10px;
}
.mr-10 {
  margin-right: 10px;
}
.myCardsTitle {
  background-color: aquamarine;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 3px solid #00b8b8;
}
.myCardsIndividual {
  background-color: aquamarine;
  text-align: center;
  margin-bottom: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}
.myCards {
  background-color: aqua;
  height: 80%;
  border-top: 3px solid #00b8b8;
  border-left: 3px solid #00b8b8;
  border-right: 3px solid #00b8b8;
}

