.mainDiv {
  display: flex;
  flex-direction: column;
}
.mainTopRow {
  display: flex;
  justify-content: space-between;
  height: 900px;
}
.leftCol {
  width:15%;
  display: flex;
  flex-direction: column;
}
.whoseTurn {
  text-align: center;
  height: 18%;
  background-color: #ffffff;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.whoseTurn img{
  height: 100px;
  width: 100px;
}
.messages {
  height: 77%;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  background-color: rgb(206, 187, 158);
}
.messagesTitle {
  background-color: rgb(167, 113, 51);
  text-align: center;
  font-size: larger;
  color: white;
  font-weight: 700;
  margin-bottom: 10px;
  padding-top: 18px;
  padding-bottom: 18px;
  border-bottom: 1px solid black;
}
.messagesBox {
  background-color: rgb(206, 187, 158);
  height: 95%;
  overflow: auto;
}
.messagesIndividual {
  background-color: peachpuff;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}
/* .playerCount {
  display:flex;
  justify-content:center;
  align-items: center;
  background-color: rgb(206, 187, 158);
  height: 5%;
  border: 1px solid black;
  color:rgb(53, 47, 39)
} */
.midCol {
  width:70%;
  display: flex;
  flex-direction: column;
  /* background-color: #dcfaff; */
  justify-content: center;
}
.gbInnerRows {
  display: flex;
  justify-content: center;
  height: 150px;
}
.gbOutterRows {
  display: flex;
  justify-content: center;
  height: 60px;
}
.gbGrid {
  width: 150px;
}
.gbHHalls {
  background-color: lightblue; 
  background-image: url(/public/greytile.png);
  background-size:cover;
  background-repeat: no-repeat;
  width: 150px;
  height: 50px;
  align-self: center;

}
.gbVHalls {
  background-color: lightblue; 
  background-image: url(/public/greytile.png);
  background-size:cover;
  background-repeat: no-repeat;
  width: 50px;
  height: 150px;
  margin-left: 50px;
}
.gbPlayer1Start {
  background-color: #e92727;
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-left: 50px;
  text-align: center;
}
.gbPlayer2Start {
  background-color: rgb(240, 128, 180);
  width: 50px;
  height: 50px;
  margin-top: 50px;
  margin-left: 100px;
  text-align: center; 
}
.gbPlayer3Start {
  background-color: rgb(240, 186, 37);
  width: 50px;
  height: 50px;
  margin-top: 50px;
  margin-left: 0px;
  text-align: center;
}
.gbPlayer4Start {
  background-color: rgb(23, 139, 185);
  width: 50px;
  height: 50px;
  margin-top: 50px;
  margin-left: 100px;
  text-align: center;
}
.gbPlayer5Start {
  background-color: #09a043;
  width: 50px;
  height: 50px;
  margin-top: 0px;
  margin-left: 50px;
  text-align: center;
}
.gbPlayer6Start {
  background-color: rgb(177, 177, 177);
  width: 50px;
  height: 50px;
  margin-top: 0px;
  margin-left: 50px;
  text-align: center;
}
.gbRoom1 {
  background-color: rgb(131, 108, 78);
  /* background-image: url(/public/billiard.png);
  background-size:cover;
  background-repeat: no-repeat; */
  width: 150px;
}
.gbRoom2 {
  background-color: rgb(131, 108, 78);
  width: 150px;
}
.gbRoom3 {
  background-color: rgb(131, 108, 78);
  width: 150px;
}
.gbRoom4 {
  background-color: rgb(131, 108, 78);
  width: 150px;
}
.gbRoom5 {
  background-color: rgb(131, 108, 78);
  width: 150px;
}
.gbRoom6 {
  background-color: rgb(131, 108, 78);
  width: 150px;
}
.gbRoom7 {
  background-color: rgb(131, 108, 78);
  width: 150px;
}
.gbRoom8 {
  background-color: rgb(131, 108, 78);
  width: 150px;
}
.gbRoom9 {
  background-color: rgb(131, 108, 78);
  width: 150px;
}
.gbRoomTitle {
  background-color: white;
  width:fit-content;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding-right: 2px;
}

.gbImg img{
  height: 40px;
  width: 30px;
}

.rightCol {
  width:15%;
  display: flex;
  flex-direction: column; 
}
.myCharacter {
  text-align: center;
  height: 18%;
  background-color: #ffffff;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.myCharacter img{
  height: 100px;
  width: 100px;
}
.yourChoicesBox {
  display: flex;
}
.choice1 {
  width: 30%;
  text-align: center;
  margin-right: 10px;
}
.choice2 {
  width: 30%;
  text-align: center;
  margin-right: 10px;
}
.choice3 {
  width: 30%;
  text-align: center;
  margin-right: 30px;
}
.submitChoice {
  width: 100px;
  margin-right: 30px;
}
.endTurn {
  width: 100px;
}
.flex-col {
  display: flex;
  flex-direction:column;
}
.flex-row {
  display: flex;
}
.flex-center {
  justify-content: center;
}
.ml-10 {
  margin-left: 10px;
}
.mr-10 {
  margin-right: 10px;
}
.myCardsTitle {
  background-color: rgb(167, 113, 51);
  color: white;
  text-align: center;
  font-weight: 700;
  font-size: larger;
  margin-bottom: 10px;
  padding-top: 18px;
  padding-bottom: 18px;
  border-bottom: 1px solid black;
}
.myCardsIndividual {
  background-color: peachpuff;
  text-align: center;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  /* width: 120px; */
  width: 35%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.myCardsIndividual img{
  margin-top: 3px;
  height: 60px;
  width: 50px;
}

.myCards {
  background-color: rgb(206, 187, 158);
  height: 81%;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  

}
.loginScreen {
  text-align: center;
}
.loginTitle {
  font-size: 40px;
  margin-top: 50px;
}
.loginSubtext {
  font-size: 20px;
  margin-top: 40px;
}
.loginButton {
  margin-top: 25px;
  margin-right: 10px;
}
.loginButton2 {
  margin-top: 25px;
  margin-left: 10px;
}
.threeCards {
  width: 75px;
  height: 105px;
  background-color: red;
  margin-bottom: 5px;
}
.threeCards img{
  height: 100%;
  width: 100%;
}
.winnerOverlay {
  color: white;
  font-size: 60px;
}

.show3Cards {
  background-color: peachpuff;
  text-align: center;
  margin-bottom: 5px;
  padding-top: 5px;
  width: 75px;
  height: 105px;
  font-size: x-small;
}

.show3Cards img{
  margin-top: 3px;
  height: 75px;
  width: 55px;
}